In [7]:
import numpy as np

In [6]:
import pandas as pd

## Load Dataset

In [3]:
pwd

'C:\\Users\\elee0'

'C:\\Users\\elee0'

'C:\\Users\\elee0'

In [77]:
pd.read_csv("data/train.csv")

,PassengerId,Survived,Pclass,Survived.1,Cabin,Sex,Survived.2,Child,Age,Survived.3,SibSp,Parch,Family,Ticket,Fare,Embarked
0,1,0,3,0,NaN,male,0,0,22.0,0,1,0,1,A/5 21171,7.2500,S
1,2,1,1,1,C85,female,1,0,38.0,1,1,0,1,PC 17599,71.2833,C
2,3,1,3,1,NaN,female,1,0,26.0,1,0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,1,C123,female,1,0,35.0,1,1,0,1,113803,53.1000,S
4,5,0,3,0,NaN,male,0,0,35.0,0,0,0,0,373450,8.0500,S
5,6,0,3,0,NaN,male,0,0,NaN,0,0,0,0,330877,8.4583,Q
6,7,0,1,0,E46,male,0,0,54.0,0,0,0,0,17463,51.8625,S
7,8,0,3,0,NaN,male,0,1,2.0,0,3,1,4,349909,21.0750,S
8,9,1,3,1,NaN,female,1,0,27.0,1,0,2,2,347742,11.1333,S
9,10,1,2,1,NaN,female,1,1,14.0,1,1,0,1,237736,30.0708,C
10,11,1,3,1,G6,female,1,1,4.0,1,1,1,2,PP 9549,16.7000,S
11,12,1,1,1,C103,female,1,0,58.0,1,0,0,0,113783,26.5500,S
12,13,0,3,0,NaN,male,0,0,20.0,0,0,0,0,A/5. 2151,8.0500,S
13,14,0,3,0,NaN,male,0,0,39.0,0,1,5,6,347082,31.2750,S
14,15,0,3,0,NaN,female,0,1,14.0,0,0,0,0,350406,7.8542,S
15,16,1,2,1,NaN,female,1,0,55.0,1,0,0,0,248706,16.0000,S
16,17,0,3,0,NaN,male,0,1,2.0,0,4,1,5,382652,29.1250,Q
17,18,1,2,1,NaN,male,1,0,NaN,1,0,0,0,244373,13.0000,S
18,19,0,3,0,NaN,female,0,0,31.0,0,1,0,1,345763,18.0000,S
19,20,1,3,1,NaN,female,1,0,NaN,1,0,0,0,2649,7.2250,C
20,21,0,2,0,NaN,male,0,0,35.0,0,0,0,0,239865,26.0000,S
21,22,1,2,1,D56,male,1,0,34.0,1,0,0,0,248698,13.0000,S
22,23,1,3,1,NaN,female,1,1,15.0,1,0,0,0,330923,8.0292,Q
23,24,1,1,1,A6,male,1,0,28.0,1,0,0,0,113788,35.5000,S
24,25,0,3,0,NaN,female,0,1,8.0,0,3,1,4,349909,21.0750,S
25,26,1,3,1,NaN,female,1,0,38.0,1,1,5,6,347077,31.3875,S
26,27,0,3,0,NaN,male,0,0,NaN,0,0,0,0,2631,7.2250,C
27,28,0,1,0,C23 C25 C27,male,0,0,19.0,0,3,2,5,19950,263.0000,S
28,29,1,3,1,NaN,female,1,0,NaN,1,0,0,0,330959,7.8792,Q
29,30,0,3,0,NaN,male,0,0,NaN,0,0,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,0,NaN,male,0,0,21.0,0,1,0,1,28134,11.5000,S
862,863,1,1,1,D17,female,1,0,48.0,1,0,0,0,17466,25.9292,S
863,864,0,3,0,NaN,female,0,0,NaN,0,8,2,10,CA. 2343,69.5500,S
864,865,0,2,0,NaN,male,0,0,24.0,0,0,0,0,233866,13.0000,S
865,866,1,2,1,NaN,female,1,0,42.0,1,0,0,0,236852,13.0000,S
866,867,1,2,1,NaN,female,1,0,27.0,1,1,0,1,SC/PARIS 2149,13.8583,C
867,868,0,1,0,A24,male,0,0,31.0,0,0,0,0,PC 17590,50.4958,S
868,869,0,3,0,NaN,male,0,0,NaN,0,0,0,0,345777,9.5000,S
869,870,1,3,1,NaN,male,1,1,4.0,1,1,1,2,347742,11.1333,S
870,871,0,3,0,NaN,male,0,0,26.0,0,0,0,0,349248,7.8958,S
871,872,1,1,1,D35,female,1,0,47.0,1,1,1,2,11751,52.5542,S
872,873,0,1,0,B51 B53 B55,male,0,0,33.0,0,0,0,0,695,5.0000,S
873,874,0,3,0,NaN,male,0,0,47.0,0,0,0,0,345765,9.0000,S
874,875,1,2,1,NaN,female,1,0,28.0,1,1,0,1,P/PP 3381,24.0000,C
875,876,1,3,1,NaN,female,1,1,15.0,1,0,0,0,2667,7.2250,C
876,877,0,3,0,NaN,male,0,0,20.0,0,0,0,0,7534,9.8458,S
877,878,0,3,0,NaN,male,0,0,19.0,0,0,0,0,349212,7.8958,S
878,879,0,3,0,NaN,male,0,0,NaN,0,0,0,0,349217,7.8958,S
879,880,1,1,1,C50,female,1,0,56.0,1,0,1,1,11767,83.1583,C
880,881,1,2,1,NaN,female,1,0,25.0,1,0,1,1,230433,26.0000,S
881,882,0,3,0,NaN,male,0,0,33.0,0,0,0,0,349257,7.8958,S
882,883,0,3,0,NaN,female,0,0,22.0,0,0,0,0,7552,10.5167,S
883,884,0,2,0,NaN,male,0,0,28.0,0,0,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,0,NaN,male,0,0,25.0,0,0,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,0,NaN,female,0,0,39.0,0,0,5,5,382652,29.1250,Q
886,887,0,2,0,NaN,male,0,0,27.0,0,0,0,0,211536,13.0000,S
887,888,1,1,1,B42,female,1,0,19.0,1,0,0,0,112053,30.0000,S
888,889,0,3,0,NaN,female,0,0,NaN,0,1,2,3,W./C. 6607,23.4500,S
889,890,1,1,1,C148,male,1,0,26.0,1,0,0,0,111369,30.0000,C
890,891,0,3,0,NaN,male,0,0,32.0,0,0,0,0,370376,7.7500,Q

In [3]:
import pandas as pd

In [8]:
import matplotlib.pyplot as plt

In [21]:
bananas = 3
days = 5
like = "shit"
"Eric ate {0} bananas for {1} days like {2}.".format(bananas, days, like)

'Eric ate 3 bananas for 5 days like shit.'

In [23]:
f"Eric ate {bananas} bananas for {days} days like {like}."

'Eric ate 3 bananas for 5 days like shit.'

In [27]:
model_a = 0.123456789
model_b = 0.987654321

f"[Accuracy] Model A = {model_a:.5}, Model B = {model_b:.3}"

'[Accuracy] Model A = 0.12346, Model B = 0.988'

In [28]:
## 문자열

In [30]:
message = "Hello World"
message

'Hello World'

In [39]:
print (message[0])
print (message[-1])
print (message[0:4])
print ("H" in message)
print ("h" in message)

H
d
Hell
True
False

In [41]:
message.lower()
message.upper()

'HELLO WORLD'

In [42]:
##리스트

In [43]:
odd = [1, 3, 5, 7, 9]

In [44]:
odd

[1, 3, 5, 7, 9]

In [52]:
print(odd[0])
print(odd[-1])
print(odd[0:3])
print(1 in odd)
odd.append(11)
odd

1
9
[1, 3, 5]
True

[1, 3, 5, 7, 9, 11]

In [53]:
odd.reverse()
odd

[11, 9, 7, 5, 3, 1]

In [55]:
age = 10

if age < 5:
    print("아이")
elif age < 18:
    print("학생")
else:
    print("어른")

학생

In [57]:
basket = ['apple', 'banana', 'chicken', 'pineapple', 'cherry']
print(basket)

for product in basket:
    print(product)

['apple', 'banana', 'chicken', 'pineapple', 'cherry']
apple
banana
chicken
pineapple
cherry

In [63]:
for i in range(1,10):
    if i == 2:
        print("beep!")
        continue
        
    if i == 5:
        print("bang!")
        break
        
    print(i)

1
beep!
3
4
bang!

In [69]:
double_list = []

for i in range(1, 11):
    if i == 5:
        continue
    if i == 8:
        break
        
    double = i * 2
    double_list.append(double)
    
double_list

[2, 4, 6, 8, 12, 14]

## 함수

In [72]:
def multiply(a,b):
    c = a * b
    return c

print(multiply(2, 3))
print(multiply(3, 4))

6
12

In [75]:
def sign(n):
    if n > 0:
        return '양수'
    elif n < 0:
        return '음수'
    else:
        return '0'
    
print(sign(0))
print(sign(1))
print(sign(-1))

0
양수
음수

In [76]:
pwd

'C:\\Users\\elee0'

In [78]:
pwd

'C:\\Users\\elee0'